@model CourseWithStudentViewModel
@{
    Layout = "NewLayout";
}
<form method="get" asp-action="StudentGrade" class="mb-3">
    <input type="text" name="searchName" value="@Model.SearchName" placeholder="Search by name" class="form-control d-inline w-25" />
    <select name="pageSize" class="form form-control d-inline w-25">
        @for (int? num = 5; num <= Model.CourseCount; num += 5)
        {
            if (@num == Model.SelectedPageSize)
            {
                <option value="@num" selected>@num</option>
            }
            if (num != Model.SelectedPageSize)
            {
                <option value="@num">@num</option>
            }

        }
    </select>
    <select name="CourseId" class="form-control d-inline w-25">
        <option value="">All Departments</option>
        @foreach (var Course in Model.Courses)
        {
            if (Course.Id == Model.CourseId)
            {
                <option value="@Course.Id" selected>@Course.Name</option>

            }
            else
            {
                <option value="@Course.Id">@Course.Name</option>
            }
        }
    </select>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<table class="table table-hover table-bordered">
    <tr style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <th><b>StudentName</b></th>
        <th><b>CourseTitle</b></th>
        <th><b>Degree</b></th>
    </tr>

    @foreach (var item in Model.Students)
    {
        <tr>
            <td><option>@item.StudentName </option></td>
            <td><option>@item.CourseTitle </option>
            <td>
                <option style="background-color:@item.DegreeColor ; color : white ; border :groove ; width : 40px ;"><b> @item.Degree </b> </option>

        </td>
        </tr>
    }

    <nav>
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="?searchName=@Model.SearchName&CourseId=@Model.CourseId&pageSize=@Model.SelectedPageSize&page=@i">@i</a>
                </li>
            }
        </ul>
    </nav>

