@model DepatmentsWithStudentsInfo
@{
    Layout = "NewLayout";
}
<a href="/Departments/Add" class="btn btn-success mt-3 mb-3">New</a>

<table class="table table-hover table-bordered">
    <tr style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <th>Name</th>
        <th>Manager Name</th>
        <th>Department</th>
        <th>Students</th>
        <th>Department state</th>
    </tr>
   @*  @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.MgrName</td>
            <td>@item.Id</td>
        </tr>
    } *@
    
    @foreach (var item in Model.Departments)
    {<tr>
       <td><option>@item.Name</option></td>
       <td><option>@item.MgrName</option></td>
            <td><option>@item.Id</option></td>
            <td>
            <select class="form form-control">
                    @foreach (var student in item.Students)
                    {
                       
                        if(student.Age > 0)
                        {
                        <option> @student.Name </option>
                        }
                    }
                    </select>
            </td>
            <td>
                @if (item.Students.Count() >=10 )
                {
                    <p>Main</p>
                }
                else
                {
                    <p>branch</p>
                }
            </td>
            <td>
                <a href="/Departments/WarningDelete/@item.Id" class="btn btn-danger">Delete</a>
            </td>
            <td>
                <a href="/Departments/Edit/@item.Id" class="btn btn-success">Edit</a>
            </td>
       </tr>
    }
        

    
  